@import url("animation.css");
@import url("hero.css");
@import url("navbar.css");
@import url("movie.css");
@import url("modal.css");
@import url("about.css");
@import url("footer.css");

:root {
    --title: 2.5rem;
    --subtitle: 2rem;

    --paragraph: 1rem;
    --paragraph-sm: 1.5rem;
    --paragraph-lg: 2rem;

    --white-color: #fff;
    --primary-color: #000000;
    --second-color: #3D0000;
    --color-alt: #950101;
    --second-color-alt: #FF0000;

    /* Font Size */
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1.25rem;
    --font-size-h6: 1rem;

    /*  https://colorhunt.co/palette/0000003d0000950101ff0000 */
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    min-height: 100%;
    background-color: var(--primary-color);
}

.flex {
    display: flex;
}

.container {
    max-width: 100%;
}

.margin-auto {
    margin: auto;
}

.red--color {
    color: var(--second-color-alt);
}


/* CONTAINER MEDIA*/
@media (min-width:576px) {
    .container {
        max-width: 540px;
    }

    .movie__content li {
        width: 50%;
    }

    .modal__body {
        align-items: center;
    }

    .modal__image {
        width: 200px;
        border-radius: 20px;
    }

    .modal__title {
        font-size: var(--font-size-h2);
    }

    .modal__content {
        width: 80%;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }

    .navbar__icon {
        display: none;
    }

    .burger {
        display: flex;
    }

    .modal__body {
        flex-direction: row;
    }

    .modal__image {
        width: 300px;
        border-radius: 20px;
    }

    .movie__content li {
        width: 50%;
    }

    .modal__content {
        width: 90%;
    }

    .modal__title {
        font-size: var(--font-size-h1);
    }

}

@media (min-width:992px) {
    .container {
        max-width: 960px;

    }

    .movie__content li {
        width: 20%;
    }

    .modal__content {
        width: 90%;
    }

}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;

    }

    .modal__content {
        width: 90%;
    }

    .movie__content li {
        width: 20%;
    }
}

@media (min-width:1320px) {
    .container {
        max-width: 1320px;

    }

    .modal__content {
        width: 80%;
    }
}